@charset "UTF-8";

/* CSS Document */

@media screen and (min-width: 668px) {
 .sp_onry {
  display: none;
 }
}

ul {
 margin: 0;
 padding: 0;
}

ul li {
 list-style: none;
}

a:hover img {
 cursor: pointer;
 opacity: .8;
}

/* article */

article {
 background: #f3efe7;
}


/* article section */

section {
 padding: 0 30px 20px;
}



/* aside */

aside {
 width: 28%;
}

aside section {
 background: #fff;
}
aside .bnr{
background: #f3efe7;
}

aside .bnr ul{
display: block;
margin-bottom: 10px;
 padding: 0;
}
aside .bnr ul li{
 width: 100%;
}
aside .bnr ul li img{
display: block;
 margin-bottom: 10px;
}

/* aside section */

h3 {
 margin: 0 0 16px;
 padding: .5em 1em;
 background: #FBFAF0;
 border-left: solid 5px #C60000;
 border-bottom: solid 1px #ccc;
 font-size: 1rem;
 font-weight: normal;
}

aside section {
 margin-bottom: 20px;
 padding: 0;
}

aside section ul {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 padding: 0 15px;
}

aside section ul li {
 width: 48%;
 margin: 0 0 20px;
 box-sizing: border-box;
}

aside section ul li a img {
 width: 100%;
 background: #eee;
 margin-bottom: 5px;
}

aside section ul li p {
 margin: 0;
 line-height: 1.4em;
 font-size: 0.8em;
}

